extends layout 

block content 

    img(src=developer.logo)
    
    h1 #{developer.name}

    p #{developer.country}

    .detailList 

        h4 Games 

        ul 
        each game in developer_games 
            li 
                a(href=game.url) #{game.name}

    hr
    a.btn(href=developer.url+'/update'): div.update Update Dev

    a.btn(href=developer.url+'/secret'): div.delete Delete Dev