extends layout 

block content 

    img(src=game.image)
    
    h1= title

    if game.developer
        p
            a(href=game.developer.url) #{game.developer.name}

    p 
        each val, index in game.genre 
            a(href=val.url) #{val.name}
            if (index < game.genre.length - 1)
            |, 

    p #{game.summary}

    p Stock: #{game.stock}
    p #[strong Price:] $#{game.price}

    hr
    p 
        a(href=game.url+'/update') Update Game
    p 
        a(href=game.url+'/delete') Delete Game

