extends layout 

block content 

    .gameHeader

        img(src=game.image)

        .gameInfo
    
            h1= title

            p #[strong Genres: ]
                each val, index in game.genre 
                    a(href=val.url) #{val.name}
                    if (index < game.genre.length - 1)
                    |, 
        
            if game.developer
                p #[strong Publisher: ]
                    a(href=game.developer.url) #{game.developer.name}

            
    p #{game.summary}

    p #[strong Stock:] #{game.stock}
    p #[strong Price:] $#{game.price}

    hr
    a.btn(href=game.url+'/update'): div.update Update Game

    a.btn(href=game.url+'/secret'): div.delete Delete Game

