extends layout 

block content 

    h1= title 
    
    form(method='POST' action='')
        .form 
            label(for='name') Name: 
            input#title.input(type='text', placeholder='Name of Game', name='name' required='true' value=(undefined===game ? '' : game.name))
        .form 
            label(for='summary') Summary: 
            textarea#title.input(placeholder='Summary of Game', name='summary' required='true' value=(undefined===game ? '' : game.summary))
        .form 
            label Genre: 
            div 
                for genre in genres 
                    div 
                        input.checkbox(type='checkbox' name='genre' id=genre._id value=genre._id checked=genre.checked)
                        label(for=genre._id) #{genre.name}
        .form
            label(for='price') Price: 
            input#title.input(type='text', placeholder='Price of Game', name='price' required='true' value=(undefined===game ? '' : game.price))
        .form 
            label(for='stock') Stock: 
            input#title.input(type='number', placeholder='Number of copies in stock', name='stock' required='true' value=(undefined===game ? '' : game.stock))
        .form 
            label(for='image') Image: 
            input(type='text' name='image' placehodler='URL of image' value='')
        button.submit(type='submit') Submit 

    if errors 
        ul 
            for error in errors 
                li!= error.msg