extends layout 

block content 

    img(href=game.image)
    
    h1= title

    p #{game.developer}

    p 
        each val, index in game.genre 
            a(href=val.url) #{val.name}
            if (index < game.genre.length - 1)
            |, 

    p #{game.summary}

    p Stock: #{game.stock}
    p #[strong Price:] #{game.price}

    hr
    p 
        a(href=game.url+'/update') Update Game
    p 
        a(href=game.url+'/delete') Delete Game

