extends layout 

block content 

    h1 Genre: #{genre.name} 

    .genreGames 

        h4 Games 

        div.genreGames
            each game in genre_games 
                ul.genreGame
                    li
                        a(href=game.url) #{game.name}

            else
                p There are no games in this genre yet.

    hr
    a.btn(href=genre.url+'/update'): div.update Update Genre

    a.btn(href=genre.url+'/secret'): div.delete Delete Genre